@import url("colors.css");

* {
    font-family: FiraCode Nerd Font;
    font-weight: bold;
    font-size: 14px;
    color: @color0;
}

.notification-row {
    outline: none;
    margin: 1px;
    padding: 0;
    border-radius: 10px;
    color: @color6;
}

.notification {
    background: @color0;
    margin: 0px;
}

.notification-content {
    background: @color0;
    padding: 7px;
    border-radius: 10px;
    border: 2px solid @color6;
    margin: 0;
}

.close-button {
    background: @color6;
    color: @color6;
    text-shadow: none;
    padding: 0;
    border-radius: 10px;
    margin-top: 5px;
    margin-right: 5px;
}

.close-button:hover {
    box-shadow: none;
    background: @color15;
    transition: all .15s ease-in-out;
    border: none
}

.notification-action {
    color: @color6;
    border: 2px solid @color10;
    border-top: none;
    border-radius: 10px;
    background: @color10;
}

.notification-default-action:hover,
.notification-action:hover {
    color: @color0;
    background: @color6;
}

.summary {
    padding-top: 7px;
    font-size: 13px;
    color: @color6;
}

.time {
    font-size: 11px;
    color: @color6;
    margin-right: 24px
}

.body {
    font-size: 12px;
    color: @color6;
}

.control-center {
    background: @color0;
    border: 2px solid @color6;
    border-radius: 10px;
}

.control-center-list {
    background: transparent;
}

.control-center-list-placeholder {
    opacity: .5;
}

.floating-notifications {
    background: transparent;
}

.blank-window {
    background: transparent;
}

.widget-title {
    color: @color8;
    background: @color10;
    padding: 5px 10px;
    margin: 10px 10px 5px 10px;
    font-size: 1.5rem;
    border-radius: 10px;
}

.widget-title>button {
    font-size: 1rem;
    color: @color8;
    text-shadow: none;
    background: @color10;
    box-shadow: none;
    border-radius: 10px;
}

.widget-dnd {
    background: @color10;
    padding: 5px 10px;
    margin: 5px 10px 10px 10px;
    border-radius: 10px;
    font-size: large;
    color: @color8;
}

.widget-dnd>switch {
    border-radius: 10px;
    background: @color6;
}

.widget-dnd>switch slider {
    background: #32302f;
    border-radius: 8px
}

.widget-label {
    margin: 10px 10px 5px 10px;
}

.widget-label>label {
    font-size: 1rem;
    color: @color6;
}

/* --- MPRIS FORCE FIX --- */
.widget-mpris {
    color: @color6;
    background: @color10;
    padding: 10px;
    margin: 5px 10px;
    border-radius: 10px;
}

.widget-mpris-player {
    padding: 15px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    /* Make it transparent so blur shows through */
    border-radius: 12px;
}

/* HIDEs the Spotify Icon completely */
.widget-mpris-player>box>image {
    opacity: 0 !important;
    -gtk-icon-size: 0px !important;
    min-width: 0px !important;
}

/* FORCES the Album Art to have a size and be visible */
.widget-mpris-album-art {
    all: unset;
    border-radius: 10px;
    min-width: 100px !important;
    min-height: 100px !important;
    background-color: transparent;
    margin-right: 15px;
}

.widget-mpris-title {
    font-weight: 700;
    font-size: 1.25rem;
    color: @color15;
}

.widget-mpris-subtitle {
    font-size: 1.1rem;
    color: @color6;
}

.widget-mpris button {
    background-color: @color6;
    margin-top: 12px;
    margin-left: 1px;
}

/* --- END MPRIS --- */

.widget-buttons-grid {
    font-size: x-large;
    padding: 5px;
    margin: 5px 10px 10px 10px;
    border-radius: 10px;
    background: @color10;
}

.widget-buttons-grid>flowbox>flowboxchild>button {
    margin: 3px;
    background: @color6;
    border-radius: 10px;
    color: #f9f5d7;
}

.widget-volume {
    background-color: @color10;
    padding: 8px;
    margin: 8px;
}

.widget-volume trough {
    background-color: @color8;
    border-radius: 12px;
    min-height: 12px;
    min-width: 150px;
}

.widget-volume highlight {
    background: @color0;
    border-radius: 12px;
}

.widget-volume slider {
    background: @color6;
    border-radius: 50%;
    min-height: 18px;
    min-width: 18px;
    margin: -4px 0px;
}

.notification-group {
    background-color: @color10;
    border: none;
    outline: none;
    color: @color15;
    border-radius: 10px;
}