/* --- GENERAL POSITION AND BACKGROUND CONFIG --- */

@import url("gruvbox.css");

* {
    font-family: "Iosevka Nerd Font";
    font-weight: bold;
    min-height: 0;
    font-size: 15px;
}

#custom-openbracket,
#custom-closebracket {
  margin: 0 5px;
}

window#waybar {
    background: @color1;
    border-radius: 0px;
    color: @color8;
}

window#waybar.hidden {
    opacity: 0.5;
}

window#waybar.empty,
window#waybar.empty #window {
    padding: 0px;
    border: 0px;
    background-color: transparent;
}

tooltip {
    color: @color8;
    background: @color1;
    border-radius: 0;
    border-width: 2px;
    border-style: solid;
    border-color: @color3;
}

tooltip label {
    color: @color8;
    padding-right: 2px;
    padding-left: 2px;
}

/* --- MODULES CONFIG --- */
.modules-right,
.modules-center,
.modules-left {
  margin: 0 10px 0 10px;
  padding: 0 2px 0 2px;
}

#workspaces button {
  min-width: 0;
  padding: 0 5px 0 5px;
  background-color: @color2;
  color: @color8;
  border-radius: 0;
}

#workspaces button.active {
  color: @color9;
  background-color: @color3;
}

#workspaces button.urgent {
  background-color: @color15;
}

/* --- INDICATORS --- */

#language {
    padding-right: 10px;
}

#custom-arch {
  padding-right: 10px;
  padding-left: 5px;
  font-size: 15px;
  border-radius: 8px;
}
